<app-encabezado></app-encabezado>
<app-encabezado-restaurante></app-encabezado-restaurante>

<h3>
  Editar restaurante: {{restaurante.nombre}}
</h3>

<form
 [formGroup]="restauranteForm"
 (ngSubmit)="!restauranteForm.invalid && editarRestaurante(restauranteForm.value)"
>
  <div class="row">
    <div class="col col-6">
      <!--Nombre-->
      <div class="form-group mx-sm-3 mb-2">
        <label for="nombre">Nombre</label>
        <input
          novalidate
          id="nombre"
          class="form-control"
          formControlName="nombre"
          placeholder="Nombre"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            restauranteForm.get('nombre')!.hasError('required') &&
            restauranteForm.get('nombre')!.touched
          "
        >
          Contenido requerido
        </div>
        <div class="alert alert-danger my-3" *ngIf="restauranteForm.get('nombre')?.hasError('maxlength')">
          El nombre no debe exceder los 200 caracteres
        </div>
      </div>

      <!--Direccion-->
      <div class="form-group mx-sm-3 mb-2">
        <label for="direccion">Dirección</label>
        <input
          novalidate
          id="direccion"
          class="form-control"
          formControlName="direccion"
          placeholder="Dirección"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            restauranteForm.get('direccion')!.hasError('required') &&
            restauranteForm.get('direccion')!.touched
          "
        >
          Contenido requerido
        </div>
        <div class="alert alert-danger my-3" *ngIf="restauranteForm.get('direccion')?.hasError('maxlength')">
          La dirección no debe exceder los 200 caracteres
        </div>
      </div>

      <!--Telefono-->
      <div class="form-group mx-sm-3 mb-2">
        <label for="telefono">Teléfono</label>
        <input
          novalidate
          id="telefono"
          class="form-control"
          formControlName="telefono"
          placeholder="Teléfono"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            restauranteForm.get('telefono')!.hasError('required') &&
            restauranteForm.get('telefono')!.touched
          "
        >
          Contenido requerido
        </div>
        <div class="alert alert-danger my-3" *ngIf="restauranteForm.get('telefono')?.hasError('maxlength')">
          El teléfono no debe exceder los 200 caracteres
        </div>
      </div>

      <!--Redes Sociales-->
      <div class="form-group mx-sm-3 mb-2">
        <label for="redesSociales">Redes Sociales</label>
        <input
          novalidate
          id="redesSociales"
          class="form-control"
          formControlName="redesSociales"
          placeholder="Redes Sociales"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            restauranteForm.get('redesSociales')!.hasError('required') &&
            restauranteForm.get('redesSociales')!.touched
          "
        >
          Contenido requerido
        </div>
        <div class="alert alert-danger my-3" *ngIf="restauranteForm.get('redesSociales')?.hasError('maxlength')">
          Las redes sociales no debe exceder los 500 caracteres
        </div>
      </div>

      <!--Horario-->
      <div class="form-group mx-sm-3 mb-2">
        <label for="horario">Horario</label>
        <input
          novalidate
          id="horario"
          class="form-control"
          formControlName="horario"
          placeholder="Horario"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            restauranteForm.get('horario')!.hasError('required') &&
            restauranteForm.get('horario')!.touched
          "
        >
          Contenido requerido
        </div>
        <div class="alert alert-danger my-3" *ngIf="restauranteForm.get('horario')?.hasError('maxlength')">
          El horario no debe exceder los 500 caracteres
        </div>
      </div>

      <!--Tipo Comida-->
      <div class="form-group mx-sm-3 mb-2">
        <label for="tipoComida">Tipo Comida</label>
        <input
          novalidate
          id="tipoComida"
          class="form-control"
          formControlName="tipoComida"
          placeholder="Tipo Comida"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            restauranteForm.get('tipoComida')!.hasError('required') &&
            restauranteForm.get('tipoComida')!.touched
          "
        >
          Contenido requerido
        </div>
        <div class="alert alert-danger my-3" *ngIf="restauranteForm.get('tipoComida')?.hasError('maxlength')">
          El tipo comida no debe exceder los 500 caracteres
        </div>
      </div>

      <!--TODO: Falta implememtar la lista desplegable de APPS-->

    </div>


  </div>
  <br />
  <button type="submit" class="btn btn-primary" [disabled]="!restauranteForm.valid">Guardar</button>&nbsp;
  <button type="button" class="btn btn-danger ml-3" (click)="cancelarRestaurante()">Cancelar</button>
</form>
