<app-encabezado></app-encabezado>

<div class="row">
    <div class="col col-12">
      <div class="card" style="width: 100%;">
        <div class="card-header">
          Chefs <button type="button" class="btn btn-warning" (click)="crearChef()"><i class="bi bi-plus-circle"></i></button>
        </div>
        <table class="table" border="1">
          <thead>
            <th>Nombre</th>
            <th>Acciones</th>
          </thead>
          <tbody>
            <tr *ngFor="let chef of chefs">
              <td>{{chef.nombre}}</td>
              <td>
                <button [disabled]="false" type="button" class="btn btn-primary"><i class="bi bi-pencil"></i></button>&nbsp;
                <button [disabled]="false" type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button>&nbsp;
                <button [disabled]="false" type="button" class="btn btn-warning"><i class="bi bi-shop"></i></button>&nbsp;
            
              </td>
            </tr>
          </tbody>
        </table>
      </div>
        </div>
  