<app-encabezado></app-encabezado>
<h3>Nuevo Menú!</h3>

<form
  [formGroup]="menuForm"
  (ngSubmit)="!menuForm.invalid && crearMenu(menuForm.value)"
>
  <div class="row">
    <div class="col col-6">
      <div class="form-group mx-sm-3 mb-2">
        <label for="nombre">Nombre</label>
        <input
          novalidate
          id="nombre"
          class="form-control"
          formControlName="nombre"
          placeholder="Nombre"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            menuForm.get('nombre')!.hasError('required') &&
            menuForm.get('nombre')!.touched
          "
        >
          Contenido requerido
        </div>
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <label for="fechaInicio">Fecha Inicio</label>
        <input
          type="date"
          novalidate
          id="fechaInicio"
          [min]="minFechaInicio"
          [(ngModel)]="fechaInicio"
          (ngModelChange)="cambioFecha()"
          class="form-control"
          formControlName="fechaInicio"
          placeholder="(YYYY-MM-DD)"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            menuForm.get('fechaInicio')!.hasError('required') &&
            menuForm.get('fechaInicio')!.touched
          "
        >
          Contenido requerido
        </div>
        <div
          class="alert alert-danger my-3"
          *ngIf="menuForm.get('fechaInicio')?.hasError('maxlength')"
        >
          La fecha no puede exceder el numero de caracteres.
        </div>
      </div>

      <div class="form-group mx-sm-3 mb-2">
        <label for="fechaFin">Fecha Fin</label>
        <input
          type="date"
          novalidate
          id="fechaFin"
          [min]="maxFechaFin"
          [max]="maxFechaFin"
          class="form-control"
          formControlName="fechaFin"
          placeholder="(dd-MM-YYYY)"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            menuForm.get('fechaFin')!.hasError('required') &&
            menuForm.get('fechaFin')!.touched
          "
        >
          Contenido requerido
        </div>
        <div
          class="alert alert-danger my-3"
          *ngIf="menuForm.get('fechaInicio')?.hasError('maxlength')"
        >
          La fecha no puede exceder el numero de caracteres.
        </div>
      </div>

      <div class="form-group mx-sm-3 mb-2">
        <label for="autor">Autor</label>
        <input
          novalidate
          id="autor"
          class="form-control"
          formControlName="autor"
          placeholder="Nombre del Autor"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            menuForm.get('autor')!.hasError('required') &&
            menuForm.get('autor')!.touched
          "
        >
          Contenido requerido
        </div>
        <div
          class="alert alert-danger my-3"
          *ngIf="menuForm.get('autor')?.hasError('maxlength')"
        >
          El Nombre del autor no debe exceder los 200 caracteres
        </div>
      </div>

      <div class="form-group mx-sm-3 mb-2">
        <label for="descripcion">Descripción</label>
        <textarea
          novalidate
          id="descripcion"
          class="form-control"
          formControlName="descripcion"
          placeholder="Agrega una descripción"
          rows="3"
        ></textarea>
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            menuForm.get('autor')!.hasError('required') &&
            menuForm.get('autor')!.touched
          "
        >
          Contenido requerido
        </div>
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="menuForm.get('descripcion')!.hasError('minlength')"
        >
          La descripción es muy corta.
        </div>
      </div>
    </div>
    <div class="col col-6">
      <!-- Recetas -->
      <div class="form-group mx-sm-3 mb-2">
        <h6>Recetas</h6>
        <div class="row">
          <div class="row">
            <div class="col col-6">Receta</div>
            <div class="col col-4">Numero de personas</div>
            <div class="col col-1"></div>
          </div>
          <ng-container formArrayName="recetas">
            <ng-container
              *ngFor="
                let lineaForm of recetasSubForm.controls;
                let index = index
              "
            >
              <div [formGroupName]="index">
                <div class="row">
                  <div class="col col-6">
                    <select formControlName="idReceta" class="form-control">
                      <option [ngValue]="null" disabled>Elegir Receta</option>
                      <option
                        *ngFor="let receta of listaRecetas"
                        [ngValue]="receta.id"
                      >
                        {{ receta.nombre }} ({{ receta.unidad }})
                      </option>
                    </select>
                    <div
                      class="alert alert-danger alert-dismissible fade show"
                      *ngIf="
                        lineaForm.get('idReceta')!.hasError('required') &&
                        lineaForm.get('idReceta')!.touched
                      "
                    >
                      Contenido requerido
                    </div>
                  </div>
                  <div class="col col-3">
                    <input
                      novalidate
                      id="numPersonas"
                      type="number"
                      class="form-control"
                      formControlName="numPersonas"
                      placeholder="Numero de personas"
                      [min]="0"
                    />
                    <div
                      class="alert alert-danger alert-dismissible fade show"
                      *ngIf="
                        lineaForm.get('numPersonas')!.hasError('required') &&
                        lineaForm.get('numPersonas')!.touched
                      "
                    >
                      Contenido requerido
                    </div>
                  </div>
                  <div class="col col-1">
                    <button
                      type="button"
                      class="btn btn-danger ml-3"
                      (click)="eliminarReceta(index)"
                    >
                      <i class="bi bi-trash"></i>
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
        <br />
        <div class="row">
          <button
            type="button"
            class="btn btn-info ml-3"
            (click)="adicionarReceta()"
          >
            <i class="bi bi-plus-circle"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!menuForm.valid">
    Crear</button
  >&nbsp;
  <button type="button" class="btn btn-danger ml-3" (click)="cancelarMenu()">
    Cancelar
  </button>
</form>
