<app-encabezado></app-encabezado>

<h3>Nuevo Chef</h3>

<form [formGroup]="usuarioForm" (ngSubmit)="registrarChef()">
  <div class="row">
    <div class="col col-6">
      <!--Nombre-->
      <div class="form-group mx-sm-3 mb-2">
        <label for="nombre">Nombre</label>
        <input
          novalidate
          id="nombre"
          class="form-control"
          formControlName="nombre"
          placeholder="Nombre"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            usuarioForm.get('nombre')!.hasError('required') &&
            usuarioForm.get('nombre')!.touched
          "
        >
          Contenido requerido
        </div>
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="usuarioForm.get('nombre')!.hasError('minlength')"
        >
          El contenido es muy corto, debe tener al menos cuatro caracteres.
        </div>
      </div>

      <!--Usuario-->
      <div class="form-group mx-sm-3 mb-2">
        <label for="usuario">Usuario</label>
        <input
          novalidate
          id="usuario"
          class="form-control"
          formControlName="usuario"
          placeholder="Nombre de usuario"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            usuarioForm.get('usuario')?.hasError('required') &&
            usuarioForm.get('usuario')?.touched
          "
        >
          Contenido requerido
        </div>
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="usuarioForm.get('usuario')!.hasError('minlength')"
        >
          El contenido es muy corto, debe tener al menos cuatro caracteres.
        </div>
      </div>
      <div
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="usuarioForm.get('usuario')!.hasError('maxlength')"
      >
        El contenido es muy largo, debe tener menos de 50 caracteres.
      </div>

      <!--Contraseña-->
      <div class="form-group mx-sm-3 mb-2">
        <label for="password">Contraseña</label>
        <input
          novalidate
          id="password"
          class="form-control"
          type="password"
          formControlName="password"
          placeholder="Contraseña"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            usuarioForm.get('password')?.hasError('required') &&
            usuarioForm.get('password')?.touched
          "
        >
          Contenido requerido
        </div>
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="usuarioForm.get('password')!.hasError('minlength')"
        >
          El contenido es muy corto, debe tener al menos cuatro caracteres.
        </div>
      </div>
      <div
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="usuarioForm.get('password')!.hasError('maxlength')"
      >
        El contenido es muy largo, debe tener menos de 50 caracteres.
      </div>

      <!--Confirmar Contraseña-->
      <div class="form-group mx-sm-3 mb-2">
        <label for="confirmPassword">Confirmar Contraseña</label>
        <input
          novalidate
          id="confirmPassword"
          class="form-control"
          type="password"
          formControlName="confirmPassword"
          placeholder="Confirmar contraseña"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            usuarioForm.get('confirmPassword')?.hasError('required') &&
            usuarioForm.get('confirmPassword')?.touched
          "
        >
          Contenido requerido
        </div>
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="usuarioForm.get('confirmPassword')!.hasError('minlength')"
        >
          El contenido es muy corto, debe tener al menos cuatro caracteres.
        </div>
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="usuarioForm.get('confirmPassword')!.hasError('minlength')"
        >
          El contenido es muy corto, debe tener al menos cuatro caracteres.
        </div>
      </div>
      <div
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="usuarioForm.get('confirmPassword')!.hasError('maxlength')"
      >
        El contenido es muy largo, debe tener menos de 50 caracteres.
      </div>
      <div
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="usuarioForm.get('confirmPassword')?.value !== usuarioForm.get('password')?.value"
      >
        Las contraseñas no coinciden
      </div>

    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!usuarioForm.valid || usuarioForm.get('confirmPassword')?.value !== usuarioForm.get('password')?.value">Crear</button>&nbsp;
  <button type="button" class="btn btn-danger ml-3">Cancelar</button>
</form>
