<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- enlaces -->
  <div class="collapse navbar-collapse" id="opciones">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/restaurantes"*ngIf="user_type==='ADMIN'">Restaurantes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/recetas">Recetas</a>
      </li>
      <!-- HU: REC-4 -->
      <li class="nav-item">
        <a class="nav-link" href="/ingredientes">Ingredientes</a> 
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/">Salir</a>
      </li>
    </ul>
  </div>
</nav>
<br/>
