<app-encabezado></app-encabezado>
<app-encabezado-restaurante></app-encabezado-restaurante>

<div class="row">
  <div class="col col-6">
    <div class="card" style="width: 100%;">
      <div class="card-header">
        Mis restaurantes <button type="button" class="btn btn-warning" (click)="crearRestaurante()"><i class="bi bi-plus-circle"></i></button>
      </div>
      <table class="table" border="1">
        <thead>
          <th>Nombre</th>
          <th>Acciones</th>
        </thead>
        <tbody>
          <tr *ngFor="let restaurante of restaurantes">
            <td (click)="verEmpleados(restaurante.id)">{{restaurante.nombre}}</td>
            <td>
              <button [disabled]="true" type="button" class="btn btn-primary" (click)="editarRestaurante(restaurante.id)"><i class="bi bi-pencil"></i></button>&nbsp;
              <button [disabled]="true" type="button" class="btn btn-danger" (click)="borrarRestaurante(restaurante.id)"><i class="bi bi-trash"></i></button>&nbsp;
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
